PORT=3001
NODE_ENV=test
JWT_SECRET=your_jwt_secret
# postgres connection (local/prod) - usado por .env e .env.development
DATABASE_URL=postgresql://smart_order:smart_order@localhost:5432/db-smart
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB=db-smart
POSTGRES_USER=smart_order
POSTGRES_PASSWORD=smart_order

# postgres connection (testes) - usado por .env.test
# DATABASE_URL=postgresql://smart_order:smart_order@localhost:5433/db-smart-test
POSTGRES_TEST_PORT=5433
POSTGRES_TEST_DB=db-smart-test
POSTGRES_TEST_USER=smart_order
POSTGRES_TEST_PASSWORD=smart_order

MONGO_URI=mongodb://localhost:27017/dbuserapi
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_DB=dbuserapi
MONGO_DB_NAME=mongodbuserapi
MONGO_USER=userapi
MONGO_PASSWORD=userapi
